$site-width: 1440px;
$hero-height: 630px;
$hero-box-height: 360px;
$hero-box-width: 690px;
$biography-width: 1225px;
$image-testimonials: 451px;
$image-strengths: 335px;
$tablet-width: 768px;
$tablet-hero-height: 382px;
$tablet-hero-box-height: 303px;
$tablet-image-width: 310px;