@font-face {
    font-family: "Roboto";
    src: local("Roboto Regular"),
        url("/fonts/Roboto/static/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Medium"),
        url("/fonts/Roboto/static/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"),
        url("/fonts/Roboto/static/Roboto-Bold.ttf");
    font-weight: 700;
}

* {
    line-height: 100%;
}

body {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    margin: 0 auto;
    max-width: 1440px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px 16px 23px;
    gap: 20px;
}

.header-title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 86px;
    line-height: 120%;
}

.navigation {
    font-weight: 500;
    overflow-x: auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 55px;
}

/* ul и а для сброса стилей */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.tablet {
    display: none;
}

.nav-list--strong-points {
    white-space: nowrap;
}

.nav-list--message {
    display: block;
}

.hero-block {
    background: url(/img/bkg-modstudio.jpg) no-repeat center/cover;
    min-height: 630px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.center-block {
    min-height: 360px;
    background-color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 690px;
}

.main-title {
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 86px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 14px;
}

.title {
    font-weight: 500;
    font-size: 20px;
}

.biography {
    max-width: 1165px;
    margin: 0 auto;
    display: flex;
    padding: 151px calc(137/1440*100vw) 150px;
}

.main-image {
    width: 49%;
    object-fit: cover;
}

.subtitle-container {
    flex-grow: 1;
}

.subtitle {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    margin-left: 29px;
}

.rotated {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.right-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 39%;
    gap: 36px;
}

.main-text {
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 86px;
    margin: 0;
    line-height: normal;
}

.professions {
    font-weight: 500;
    font-size: 18px;
    display: block;
}

.professions li{
    display: inline;
}

.professions li:not(:last-of-type)::after{
    content: " /";
}

.hyphen {
    margin-bottom: 18px;
}

.quote {
    font-family: "Bitter";
    font-size: 26px;
    font-weight: 400;
    margin: 0;
}

.quote-text {
    line-height: normal;
    display: inline-block;
}

p {
    margin: 0;
}

.designers {
    padding: 0 0 150px 20px;
}

.designers-subtitle {
    margin: 0 0 30px 119px;
    line-height: normal;
}

.designers-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.image-wrap {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
}

.end-alignment {
    align-items: flex-end;
}

.figcaption {
    font-size: 16px;
}

.left-alignment {
    min-width: 332px;
}

.figcaption p {
    line-height: normal;
}

.uppercase {
    text-transform: uppercase;
}

.description {
    font-weight: 400;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 0 20px 150px;
}

.website {
    font-size: 16px;
    display: grid;
    row-gap: 70px;
    margin: 20px 11px 30px 0;
    justify-content: end;
    grid-column: span 2;

}

.website-link {
    font-weight: 400;
    line-height: normal;
}

.website-bold {
    font-weight: 700;
}

.creativity {
    position: relative;
    right: 8px;
}

.image-container {
    grid-column: span 4;
}

.testimonials-image {
    width: 100%;
    max-width: 451px;
}

.subtitle-container {
    grid-column: span 2;
}

.testimonials-header {
    margin-left: 4px;
}

.testimonials-right {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 42px;
    justify-content: center;

}

.center {
    font-size: 32px;
    text-align: center;
}

.strong-points {
    padding: 0 0 150px 20px;
}

.strong-points-subtitile {
    margin: 0 0 30px 238px;
}

/* Фолбэк на флексе */

.strengths-container {
    display: flex;
    overflow-x: auto;
}

.strengths-images {
    display: flex;
    align-items: flex-start;
    gap: 21px;
}

@supports (display: grid) {
    .strengths-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        overflow-x: auto;
    }

    .strengths-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 21px;
    }
}

.strengths {
    margin: 0 20px 0 21px;
}

.strengths-subtitle {
    padding: 0 37px;
    margin-bottom: 28px;
    line-height: 100%;
}

.list-container {
    width: fit-content;
    margin: 0 auto;
}

.strengths-list {
    font-family: "Bitter";
    font-size: 34px;
    font-weight: 400;
}

.strengths-list li {
    line-height: normal;
}

.strengths-coffee-shop {
    max-width: 335px;
    object-fit: cover;
    aspect-ratio: 335 / 554;
}

.footer {
    background-color: #0D0D0D;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    padding: 58px 24px 58px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    font-style: normal;
    text-decoration: underline;
    line-height: 26px;
    width: 100%;
}

.product {
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.bold {
    font-weight: 900;
    font-size: 24px;
}

.rights {
    width: 100%;
    text-align: right;
}



@media(max-width:768px) {

    body {
        max-width: 768px;
    }

    .header {
        padding: 18px 0;
    }

    .header-title {
        display: none;
    }

    .navigation {
        width: 100%;
    }

    .nav-menu {
        justify-content: space-around;
        gap: 0px;
    }

    .desktop {
        display: none;
    }

    .nav-list {
        font-family: "Bitter";
    }

    .tablet {
        display: block;
        font-size: 40px;
        font-weight: 400;
    }
    
    .hero-block {
        background: none;
        min-height: auto;
        display: block;
    }

    .center-block {
        min-width: auto;
        min-height: 303px;
    }

    .main-title {
        text-align: center;
        font-size: 70px;
        font-weight: 300;
    }

    .title {
        font-size: 18px;
    }

    .background-wrap {
        max-width: 768px;
        aspect-ratio: 768/382;
        object-fit: cover;
        width: 100%;
    }

    .biography {
        display: flex;
        flex-direction: column;
        padding: 80px 0 0 0;

    }

    .main-image {
        order: 4;
        width: 100%;
        aspect-ratio: 768 / 400;
        object-fit: cover;
    }

    .subtitle-container {
        order: 0;
    }

    .subtitle {
        font-size: 18px;
        margin: 0
    }

    .rotated {
        text-align: right;
        writing-mode: horizontal-tb;
        transform: none;
    }

    .right-container {
        padding-left: 31px;
        width: 100%;
        max-width: 768px;
        box-sizing: border-box;
    }

    .main-text {
        font-size: 64px;
        margin: 41px 0 35px 0;
        order: 3;
        font-weight: 400;
    }

    .biography-main-text::before {
        content: "- ";
    }

    .professions li{
        display: block;
    }

    .professions li::before {
        content: "- ";
    }

    .professions li:not(:last-of-type)::after{
        content: "";
    }

    .hyphen {
        display: none;
    }

    .quote {
        font-size: 30px;
        padding-right: 28px;
        font-weight: 300;
    }

    .designers {
        padding: 80px 0 0 16px;
    }

    .designers-subtitle {
        margin: 0 0 32px 0;
    }

    .image-wrap img {
        max-width: 310px;
        aspect-ratio: 310/437;
        object-fit: cover;
    }

    .end-alignment {
        align-items: flex-start;
    }

    .left-alignment {
        min-width: auto;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
        padding: 80px 16px 0;
    }

    .website {
        order: 2;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }

    .website-link.rotated {
        text-align: left;
    }

    .creativity {
        position: static;
    }

    .testimonials-image {
        display: none;
    }

    .testimonials-header {
        order: 0;
    }

    .testimonials-right {
        order: 1;
        flex-direction: row;
    }

    .center {
        width: 50%;
        margin-top: 29px;
    }

    .testimonials-image-right {
        min-width: 336px;
        aspect-ratio: 336/330;
        object-fit: cover;
    }

    .strong-points {
        padding: 80px 0 80px 16px;
    }

    .strong-points-subtitile {
        margin: 0;
    }

    .strengths-container {
        margin-top: 30px;
    }

    .strengths-images {
        order: 1;
    }

    .strengths-container img {
        max-width: 310px;
        aspect-ratio: 310 / 450;
        object-fit: cover;
    }

    .strengths {
        order: 0;
        margin: 0;
    }

    .strengths-subtitle {
        font-size: 46px;
        padding: 0;
        margin: 0 0 24px 0;

    }
    .list-container {
        justify-content: start;
    }

    .strengths-list {
        font-size: 24px;
        padding-left: 16px;
    }

    .strengths-list li {
        margin-bottom: 8px;
    }

    .strengths-coffee-shop {
        margin: 0 20px 0 17px;
    }

    .footer {
        flex-direction: column;
    }

    .contact-info {
        order: 1;
    }

    .product {
        order: 0;
        text-align: end;
    }

    .rights {
        order: 2;
        text-align: left;
        margin-top: 8px;
    }
}